certifi==2020.4.5.1
chardet==3.0.4
ftfy==5.7
graphviz==0.14
idna==2.9
mailchecker==3.3.4
phonenumbers==8.12.3
psycopg2==2.8.5
python-benedict==0.18.1
python-dateutil==2.8.1
python-slugify==4.0.0
pyyaml==5.3.1
requests==2.23.0
six==1.14.0
text-unidecode==1.3
toml==0.10.0
unittest-expander==0.3.1
urllib3==1.25.9
wcwidth==0.1.9
wincertstore==0.2
xmltodict==0.12.0